.services {
    display: flex;
    flex-direction: column;
    height : 600px;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__panel{
        width: 30%;
        &--title {
            font-size: 1em;
            max-height: 50px;
            transition: .6s;
            padding: 5px;
        }
        &--titleColored {
            background-color: #003063;
            color: white;
            transition: .6s;
        }
        &--textVisible {
            opacity:1;
            font-size: .9em;
            transition: .6s;
        }
        &--textHidden {
            opacity:0;
            transition: .6s;
        }
    }
}