.Selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    border: 1px solid #E50D6D;
    padding:7px 3px;
    border-radius: 25px;
    max-width: 80%;
    align-self: center;
    @media(max-width: 600px) {
        margin-top: 50px;
        flex-direction: column;
        justify-content:center;
        border: none;
        }
    &__button {
        margin: 0 10px;
        border-radius: 20px;
        border: none;
        background-color: white;
        color: #E50D6D;
        padding : 3px 12px;
        font-weight: 700;
        font-size: 1.2em;
        transition: background-color 0.4s ease, color 0.4s ease; /* Ajoutez cette ligne pour la transition */
        &--active {
            background-color: #E50D6D;
            color:white;
        }
        @media(max-width: 600px) {
            border: 1px solid #E50D6D;
            margin: 5px 0;
            }
    }
}