.language {
    display: flex;
    justify-content: flex-end;
    &__selection{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-right: 20px;
        }
    }