.disclaimer {
    display: flex;
    flex-direction: row;
    background-color: #E50D6D;
    justify-content: space-between;
    color: white;
    max-width: 40%;
    z-index: 999;
    position: fixed;
    top: 80vh;
    left: 35%;
    margin: 0;
    animation: slideIn 0.5s ease-out forwards; // Ajout de l'animation
  
    // Reste de votre code inchangé
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .disclaimer__text {
    padding: 15px;
    margin: 0;
  }
  
  .closeButton {
    border: none;
    background-color: #E50D6D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    align-self: self-start;
    cursor: pointer;
  }
  
  