.projects {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding-bottom: 160 px;
    background-color: white;
    @media(max-width: 600px) {
        height: auto;
        }
    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin: 200px 0 100px 0;
    }
}