@font-face { font-family: Montserrat; src: url('./assets/font/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Bold; src: url('./assets/font/Montserrat-Bold.ttf'); }  

.body {
    background-color: transparent;
    background-image: url("../src/assets/image/test.png"), linear-gradient(rgba(243, 244, 245, 1), rgba(243, 244, 245, 1));
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    @media(max-width: 600px) {
        background-image: linear-gradient(#E50D6D, #E50D6D);
        }
}

.title {
    height: 150px;
    background-color: transparent;
    display: flex;
    align-items: center;
    @media(max-width: 600px) {
        color: white;
        height: 100px;
        justify-content: center;
        align-items: center;
        }
}

.section {
    margin: 0;
    height: 100vh;
}
