@font-face { font-family: Montserrat; src: url('./assets/font/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Bold; src: url('./assets/font/Montserrat-Bold.ttf'); }  

.body {
    background-color: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}