@font-face { font-family: Montserrat; src: url('./assets/font/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Bold; src: url('./assets/font/Montserrat-Bold.ttf'); }  

body {
  margin: 0;
  font-family: Montserrat;
  color: #003063;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
