@font-face { font-family: Montserrat; src: url('../../assets/font/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Bold; src: url('../../assets/font/Montserrat-Bold.ttf'); }  

.Anchor {
    font-family: Montserrat;
    height: 56px;
    min-width: 50px;
    padding: 7px;
    background-color: white;
    color: #003063;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.active {
    background-color: #003063;
    color: white;
}