@font-face { font-family: Montserrat; src: url('../../assets/font/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Bold; src: url('../../assets/font/Montserrat-Bold.ttf'); }  

.header {
    font-family: Montserrat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height:70px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    &__list{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        &--item {
            margin: 0 10px;
        }
    }
    &__language{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-right: 20px;
        &--item {
            margin: 0 10px;
        }
    }
}

.active {
    background-color: #003063;
    color: white;
    border: none;
  }
  